:root {
    --mainBodyDivHeight: 200vh;
    --mainBodyDivWidth: 100vw;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --mainBodyDivHeight: 140vh;
    --mainBodyDivWidth: 100vw;
}

body {
    margin: 0;
}

button {
    width: 7vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    color: black;
}

#navBar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #4A55A2;
    margin: 0;
    padding: 0;
}

#navBar h1 {
    color: #C5DFF8;
}

#btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 7.5vh;
    flex: 2;
}

#btnContainer button {
    background-color: #C5DFF8;
    color: #4A55A2;
    font-size: 16px;
}

#bodyContent {
    display: flex;
    align-items: center;

    width: var(--mainBodyDivWidth);
    height: var(--mainBodyDivHeight);
    background-color: #7895CB;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    align-items: center;
    width: var(--mainBodyDivWidth);
    height: 10vh;
    background-color: #A0BFE0;
    margin: 0;
    padding: 0;
}

.logoImg {
    width: 100px;
    height: 100px;
    margin-left: 4vw;
    border-radius: 50%;
}

.logoName {
    flex: 4;
    margin-left: 1vw;
    font-size: 3rem;
}

.loginBtn {
    flex: 1;
    max-width: 10vw;
    margin-left: 3vw;
    margin-right: 4vw;
    background-color: #C5DFF8;
    color: #4A55A2;
    font-size: 16px;
}

.aboutUsPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: var(--mainBodyDivHeight);
}

.ourTeamDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourTeamDivWrapper {
    gap: 5vw;
    border-radius: 50%;
    width: 100vw;
}

.ourTeamDivWrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 5vh;
}

.ourTeamDivWrapper img {
    width: 25vh;
    height: 25vh;
}

.ourTeamDivWrapper div div {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.ourMissionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourMissionDiv p {
    width: 70vw;
    font-size: 20px;
}

.contactInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendEmailDiv {
    width: 40vw;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.sendEmailDiv div input {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    height: 25px;
    margin: 2px;
    width: 23vw;
}


.sendEmailDiv div textArea {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    margin: 2px;
    width: 23vw;
    height: 20vh;
}

.sendEmailDiv button {
    height: 5vh;
    width: 23vw;
    margin-left: 3vw;
}

.sendEmailDiv button:hover {
    background-color: darkgray;
}

.sendEmailMsgWrap {
    margin-right: 1.1vw;
    display: flex;
}

.bodyMainDiv {
    display: grid;
    width: var(--mainBodyDivWidth);
    height: var(--mainBodyDivHeight);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.bodyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.infoImg {
    width: 20vw;
    height: auto;
    border-radius: 200px;
}
