* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

button {
    width: 7vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    color: black;
}

#navBar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #4A55A2;
    margin: 0;
    padding: 0;
}

#navBar h1 {
    color: #C5DFF8;
}

#btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 7.5vh;
    flex: 2;
}

#btnContainer button {
    background-color: #C5DFF8;
    color: #4A55A2;
    font-size: 16px;
}

#bodyContent {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: #7895CB;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #A0BFE0;
    margin: 0;
    padding: 0;
}

.logoImg {
    width: 100px;
    height: 100px;
    margin-left: 4vw;
    border-radius: 50%;
}

.logoName {
    flex: 4;
    margin-left: 1vw;
    font-size: 3rem;
}

.loginBtn {
    flex: 1;
    max-width: 10vw;
    margin-left: 3vw;
    margin-right: 4vw;
    background-color: #C5DFF8;
    color: #4A55A2;
    font-size: 16px;
}
